@font-face {
  font-family: OswaldLight;
  src: url(../assets/fonts/oswald-light.ttf);
}
@keyframes slideIn {
  0% {
    transform: translateY(-400%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(300%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.textfirstelement-container {
  animation: slideIn 0.8s ease-out forwards;
  z-index: -1;
}
.textsecondelement-container {
  animation: slideInFromBottom 0.5s ease-out forwards;
}
